@import "tailwindcss";

:root {
  --background: rgb(66, 63, 57);
  --foreground: #e6e6e6;
  --secondary: #888888;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.header {
  font-size: 3em;
}

body {
  margin: 1em;
  background: var(--background);
  color: var(--foreground);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1em;
  overflow-x: hidden;
  margin-bottom: 3em;
}


h2 {
  background-color: var(--secondary);
  color: var(--background);
  padding: 2px;
  margin-bottom: 5px;
}

.menu-stretch {
  position:relative;
  display: flex;
  width: 100%;

  .left {
    flex: 1;
    text-align: left;
  }
  .center {
    flex: 1;
    text-align: center;
  }
  .right {
    flex: 1;
    text-align: right;
  }
}

.info {
  margin: 2em;
}

a:hover {
  text-decoration: underline;
}

.menu-item-portfolio:hover {
  font-style: italic;
}

.spread-container {
  width: 100%;
  margin-bottom: 3em;
}

.text-spread-container {
  margin: 0 auto;
  width: 600px; 
  max-width: 100%;
  text-align: left; 
  text-align: justify;
}

.image-row-container {
  clear: both;
  margin: 0 auto;
  display: flex; 
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden; 
  height: 30em; 
  -webkit-overflow-scrolling: touch; 
  margin-bottom: 1em;
  margin-top: 1em;
  margin-left: 0.5em;
}

@media only screen and (hover: none) and (pointer: coarse){
  .image-row-container {
    height: 20em; 
  }
}

.image-item {
  margin-right: 0.5em;
  flex-shrink: 0;       /* stops items from shrinking */
}

.image-item img {
  height: 100%;
  width: auto;
  object-fit: cover;
  border-radius: 5px;
}

textarea {
  outline: 0.5px solid var(--foreground);
  padding: 2px;
}

button {
  outline: 0.5px solid var(--foreground);
  margin: 5px;
  padding: 2px;
  cursor: pointer;
  
}

a {
  cursor: pointer;
}

button:hover {
  background-color: var(--secondary);
  color: var(--background);
}

.collapse-row {
  margin-top: 1em;
}

.collapse-row:hover {
  background-color: var(--secondary);
  color: var(--background);
  
}

input {
  outline: 0.5px solid var(--foreground);
  margin: 5px;
  padding: 2px;
}

.project-editor {
  margin-top: 1em;
  outline: 1px solid var(--secondary);
  padding: 2px;
}

hr {
  border: none;
  height: 1px;
  background-color: var(--secondary);
}

.img-closer {
  position: fixed;
  top: 10px;
  width: 50px;
  height: 50px;
  font-size: 30px;
  color: white;
  cursor: pointer;
  z-index: 9999;
  text-align: center;
}


.img-scroller {
  position: fixed;
  top: 50%;
  width: 50px;
  height: 50px;
  font-size: 30px;
  cursor: pointer;
  z-index: 9999;
  text-align: center;
  transform: translate(0, -50%);
}

.img-overlay {
  margin: 0;
  position: fixed;
  background-color: black;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 9998;
}

.overlay-image {
  position: fixed;
  opacity: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 80vh;
}