@import "tailwindcss";

:root {
  --background: rgb(66, 63, 57);
  --foreground: #e6e6e6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 1em;
  background: var(--background);
  color: var(--foreground);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1em;
  overflow-x: hidden;
  margin-bottom: 3em;
}

.menu-stretch {
  position:relative;
  display: flex;
  width: 100%;

  .left {
    flex: 1;
    text-align: left;
  }
  .center {
    flex: 1;
    text-align: center;
  }
  .right {
    flex: 1;
    text-align: right;
  }
}

a:hover {
  text-decoration: underline;
}

.menu-item-portfolio:hover {
  font-style: italic;
}

.spread-container {
  width: 100%;
  margin-bottom: 3em;
}

.text-spread-container {
  margin: 0 auto;
  width: 600px; 
  max-width: 100%;
  text-align: left; 
  margin-bottom: 2em;
  text-align: justify;
}

.image-row-container {
  clear: both;
  margin: 0 auto;
  display: flex; 
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden; 
  height: 30em; 
  -webkit-overflow-scrolling: touch; 
  margin-bottom: 2em;
  margin-top: 2em;
}

.image-item {
  flex-shrink: 0; 
  margin-right: 0.5em; 
}

.image-item img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  flex-direction: column;
  border-radius: 5px;
}

textarea {
  outline: 1px solid var(--foreground);
  padding: 2px;
}

button {
  outline: 1px solid var(--foreground);
  padding: 2px;
}

input {
  outline: 1px solid var(--foreground);
  margin: 5px;
  padding: 2px;
}